body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5em; }

.container {
  width: 70%;
  margin: 10px auto;
  background: #fff; }

.menu {
  list-style: circle; }

p {
  margin: 10px 0;
  line-height: 1.5em; }

h1 {
  font-size: 39px;
  font-weight: bold;
  margin: 20px 0 10px 0;
  line-height: 1.2em; }

h3 {
  font-size: 22px;
  margin: 10px 0; }

h4 {
  font-size: 19px;
  margin: 10px 0; }

strong {
  font-weight: bold; }

.clearfix {
  clear: both; }

.main-header {
  border-bottom: 4px solid #0b7eda; }

.main-header img {
  margin: auto;
  display: block; }

.main-heading {
  text-align: center;
  color: #333;
  padding: 10px;
  margin-bottom: 20px; }

.list {
  float: left;
  width: 48%; }

.list li {
  margin-bottom: 20px;
  list-style: none; }

.list img {
  float: left;
  margin-right: 7px; }

.list h4 {
  padding-top: 5px; }

.foot, .form form header {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 10px; }

.form {
  float: right;
  width: 48%; }

.form form {
  border: 4px solid #0b7eda;
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
  background: #f4f4f4; }

.form form header {
  border-top: none;
  border-bottom: 1px solid #ddd; }

.form form div {
  margin-bottom: 20px; }

.form form div label {
  display: inline-block;
  width: 100px;
  font-weight: 700; }

.form form div input[type='text'],
.form form div input[type='email'] {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 25px;
  width: 65%; }

.form form div input[type='submit'] {
  padding: 12px 17px;
  color: #fff;
  border: 0;
  background-color: #0b7eda;
  border-radius: 5px;
  float: right;
  margin-bottom: 10px; }

.form form div input[type='submit']:hover {
  background-color: blue;
  cursor: pointer; }

.form form footer p {
  font-style: italic;
  text-align: center;
  color: #666;
  font-size: 80%; }

.testimonial {
  margin: 40px 0;
  font-style: italic;
  color: #666; }

.testimonial img {
  float: left;
  margin-right: 20px; }

.main-footer {
  text-align: center;
  border-top: 1px solid #ddd;
  color: #aaa; }

@media (max-width: 800px) {
  .container {
    width: 80%; }
  h1 {
    font-size: 33px; }
  .list,
  .form {
    float: none;
    width: 100%; }
  .list li {
    background: #eee;
    padding: 8px;
    border-radius: 10px; }
  .list li img {
    margin-top: 7px; }
  .testimonial img {
    float: none;
    margin: auto;
    display: block;
    margin-bottom: 20px; } }

@media (max-width: 550px) {
  h1 {
    font-size: 22px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xyXG4gICAgZm9udC1mYW1pbHk6ICdQb3BwaW5zJywgc2Fucy1zZXJpZjtcclxuICAgIGZvbnQtc2l6ZTogMTVweDtcclxuICAgIGxpbmUtaGVpZ2h0OiAxLjVlbTtcclxufVxyXG5cclxuLmNvbnRhaW5lciB7XHJcbiAgICB3aWR0aDogNzAlO1xyXG4gICAgbWFyZ2luOiAxMHB4IGF1dG87XHJcbiAgICBiYWNrZ3JvdW5kOiAjZmZmO1xyXG59XHJcblxyXG4ubWVudSB7XHJcbiAgICBsaXN0LXN0eWxlOiBjaXJjbGU7XHJcbn1cclxuXHJcbnAge1xyXG4gICAgbWFyZ2luOiAxMHB4IDA7XHJcbiAgICBsaW5lLWhlaWdodDogMS41ZW07XHJcbn1cclxuXHJcbmgxIHtcclxuICAgIGZvbnQtc2l6ZTogMzlweDtcclxuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG4gICAgbWFyZ2luOiAyMHB4IDAgMTBweCAwO1xyXG4gICAgbGluZS1oZWlnaHQ6IDEuMmVtO1xyXG59XHJcblxyXG5oMyB7XHJcbiAgICBmb250LXNpemU6IDIycHg7XHJcbiAgICBtYXJnaW46IDEwcHggMDtcclxufVxyXG5cclxuaDQge1xyXG4gICAgZm9udC1zaXplOiAxOXB4O1xyXG4gICAgbWFyZ2luOiAxMHB4IDA7XHJcbn1cclxuXHJcbnN0cm9uZyB7XHJcbiAgICBmb250LXdlaWdodDogYm9sZDtcclxufVxyXG5cclxuLmNsZWFyZml4IHtcclxuICAgIGNsZWFyOiBib3RoO1xyXG59XHJcblxyXG4ubWFpbi1oZWFkZXIge1xyXG4gICAgYm9yZGVyLWJvdHRvbTogNHB4IHNvbGlkICMwYjdlZGE7XHJcbiAgICBpbWcge1xyXG4gICAgICAgIG1hcmdpbjogYXV0bztcclxuICAgICAgICBkaXNwbGF5OiBibG9jaztcclxuICAgIH1cclxufVxyXG5cclxuLm1haW4taGVhZGluZyB7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICBjb2xvcjogIzMzMztcclxuICAgIHBhZGRpbmc6IDEwcHg7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAyMHB4O1xyXG59XHJcblxyXG4ubGlzdCB7XHJcbiAgICBmbG9hdDogbGVmdDtcclxuICAgIHdpZHRoOiA0OCU7XHJcbiAgICBsaSB7XHJcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMjBweDtcclxuICAgICAgICBsaXN0LXN0eWxlOiBub25lO1xyXG4gICAgfVxyXG4gICAgaW1nIHtcclxuICAgICAgICBmbG9hdDogbGVmdDtcclxuICAgICAgICBtYXJnaW4tcmlnaHQ6IDdweDtcclxuICAgIH1cclxuICAgIGg0IHtcclxuICAgICAgICBwYWRkaW5nLXRvcDogNXB4O1xyXG4gICAgfVxyXG59XHJcblxyXG4uZm9vdCB7XHJcbiAgICBib3JkZXItdG9wOiAxcHggc29saWQgI2RkZDtcclxuICAgIG1hcmdpbi1ib3R0b206IDIwcHg7XHJcbiAgICBwYWRkaW5nLWJvdHRvbTogMTBweDtcclxufVxyXG5cclxuLmZvcm0ge1xyXG4gICAgZmxvYXQ6IHJpZ2h0O1xyXG4gICAgd2lkdGg6IDQ4JTtcclxuICAgIGZvcm0ge1xyXG4gICAgICAgIGJvcmRlcjogNHB4IHNvbGlkICMwYjdlZGE7XHJcbiAgICAgICAgcGFkZGluZzogMTBweCAxNXB4IDE1cHggMTVweDtcclxuICAgICAgICBib3JkZXItcmFkaXVzOiAxMHB4O1xyXG4gICAgICAgIGJhY2tncm91bmQ6ICNmNGY0ZjQ7XHJcbiAgICAgICAgaGVhZGVyIHtcclxuICAgICAgICAgICAgQGV4dGVuZCAuZm9vdDtcclxuICAgICAgICAgICAgYm9yZGVyLXRvcDogbm9uZTtcclxuICAgICAgICAgICAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICNkZGQ7XHJcbiAgICAgICAgfVxyXG4gICAgICAgIGRpdiB7XHJcbiAgICAgICAgICAgIG1hcmdpbi1ib3R0b206IDIwcHg7XHJcbiAgICAgICAgICAgIGxhYmVsIHtcclxuICAgICAgICAgICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICAgICAgICAgICAgICAgIHdpZHRoOiAxMDBweDtcclxuICAgICAgICAgICAgICAgIGZvbnQtd2VpZ2h0OiA3MDA7XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICAgICAgaW5wdXRbdHlwZT0ndGV4dCddLFxyXG4gICAgICAgICAgICBpbnB1dFt0eXBlPSdlbWFpbCddIHtcclxuICAgICAgICAgICAgICAgIGJvcmRlcjogMXB4IHNvbGlkICNjY2M7XHJcbiAgICAgICAgICAgICAgICBib3JkZXItcmFkaXVzOiA1cHg7XHJcbiAgICAgICAgICAgICAgICBoZWlnaHQ6IDI1cHg7XHJcbiAgICAgICAgICAgICAgICB3aWR0aDogNjUlO1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIGlucHV0W3R5cGU9J3N1Ym1pdCddIHtcclxuICAgICAgICAgICAgICAgIHBhZGRpbmc6IDEycHggMTdweDtcclxuICAgICAgICAgICAgICAgIGNvbG9yOiAjZmZmO1xyXG4gICAgICAgICAgICAgICAgYm9yZGVyOiAwO1xyXG4gICAgICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogIzBiN2VkYTtcclxuICAgICAgICAgICAgICAgIGJvcmRlci1yYWRpdXM6IDVweDtcclxuICAgICAgICAgICAgICAgIGZsb2F0OiByaWdodDtcclxuICAgICAgICAgICAgICAgIG1hcmdpbi1ib3R0b206IDEwcHg7XHJcbiAgICAgICAgICAgICAgICAmOmhvdmVyIHtcclxuICAgICAgICAgICAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiBibHVlO1xyXG4gICAgICAgICAgICAgICAgICAgIGN1cnNvcjogcG9pbnRlcjtcclxuICAgICAgICAgICAgICAgIH1cclxuICAgICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgICAgICBmb290ZXIge1xyXG4gICAgICAgICAgICBwIHtcclxuICAgICAgICAgICAgICAgIGZvbnQtc3R5bGU6IGl0YWxpYztcclxuICAgICAgICAgICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgICAgICAgICAgICAgIGNvbG9yOiAjNjY2O1xyXG4gICAgICAgICAgICAgICAgZm9udC1zaXplOiA4MCU7XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICB9XHJcbn1cclxuXHJcbi50ZXN0aW1vbmlhbCB7XHJcbiAgICBtYXJnaW46IDQwcHggMDtcclxuICAgIGZvbnQtc3R5bGU6IGl0YWxpYztcclxuICAgIGNvbG9yOiAjNjY2O1xyXG4gICAgaW1nIHtcclxuICAgICAgICBmbG9hdDogbGVmdDtcclxuICAgICAgICBtYXJnaW4tcmlnaHQ6IDIwcHg7XHJcbiAgICB9XHJcbn1cclxuXHJcbi5tYWluLWZvb3RlciB7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICBib3JkZXItdG9wOiAxcHggc29saWQgI2RkZDtcclxuICAgIGNvbG9yOiAjYWFhO1xyXG59XHJcblxyXG5AbWVkaWEobWF4LXdpZHRoOiA4MDBweCkge1xyXG4gICAgLmNvbnRhaW5lciB7XHJcbiAgICAgICAgd2lkdGg6IDgwJTtcclxuICAgIH1cclxuICAgIGgxIHtcclxuICAgICAgICBmb250LXNpemU6IDMzcHg7XHJcbiAgICB9XHJcbiAgICAubGlzdCxcclxuICAgIC5mb3JtIHtcclxuICAgICAgICBmbG9hdDogbm9uZTtcclxuICAgICAgICB3aWR0aDogMTAwJTtcclxuICAgIH1cclxuICAgIC5saXN0IGxpIHtcclxuICAgICAgICBiYWNrZ3JvdW5kOiAjZWVlO1xyXG4gICAgICAgIHBhZGRpbmc6IDhweDtcclxuICAgICAgICBib3JkZXItcmFkaXVzOiAxMHB4O1xyXG4gICAgICAgIGltZyB7XHJcbiAgICAgICAgICAgIG1hcmdpbi10b3A6IDdweDtcclxuICAgICAgICB9XHJcbiAgICB9XHJcbiAgICAudGVzdGltb25pYWwgaW1nIHtcclxuICAgICAgICBmbG9hdDogbm9uZTtcclxuICAgICAgICBtYXJnaW46IGF1dG87XHJcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMjBweDtcclxuICAgIH1cclxufVxyXG5cclxuQG1lZGlhKG1heC13aWR0aDogNTUwcHgpIHtcclxuICAgIGgxIHtcclxuICAgICAgICBmb250LXNpemU6IDIycHg7XHJcbiAgICB9XHJcbn0iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsQUFBQSxJQUFJLENBQUM7RUFDRCxXQUFXLEVBQUUscUJBQXFCO0VBQ2xDLFNBQVMsRUFBRSxJQUFJO0VBQ2YsV0FBVyxFQUFFLEtBQUssR0FDckI7O0FBRUQsQUFBQSxVQUFVLENBQUM7RUFDUCxLQUFLLEVBQUUsR0FBRztFQUNWLE1BQU0sRUFBRSxTQUFTO0VBQ2pCLFVBQVUsRUFBRSxJQUFJLEdBQ25COztBQUVELEFBQUEsS0FBSyxDQUFDO0VBQ0YsVUFBVSxFQUFFLE1BQU0sR0FDckI7O0FBRUQsQUFBQSxDQUFDLENBQUM7RUFDRSxNQUFNLEVBQUUsTUFBTTtFQUNkLFdBQVcsRUFBRSxLQUFLLEdBQ3JCOztBQUVELEFBQUEsRUFBRSxDQUFDO0VBQ0MsU0FBUyxFQUFFLElBQUk7RUFDZixXQUFXLEVBQUUsSUFBSTtFQUNqQixNQUFNLEVBQUUsYUFBYTtFQUNyQixXQUFXLEVBQUUsS0FBSyxHQUNyQjs7QUFFRCxBQUFBLEVBQUUsQ0FBQztFQUNDLFNBQVMsRUFBRSxJQUFJO0VBQ2YsTUFBTSxFQUFFLE1BQU0sR0FDakI7O0FBRUQsQUFBQSxFQUFFLENBQUM7RUFDQyxTQUFTLEVBQUUsSUFBSTtFQUNmLE1BQU0sRUFBRSxNQUFNLEdBQ2pCOztBQUVELEFBQUEsTUFBTSxDQUFDO0VBQ0gsV0FBVyxFQUFFLElBQUksR0FDcEI7O0FBRUQsQUFBQSxTQUFTLENBQUM7RUFDTixLQUFLLEVBQUUsSUFBSSxHQUNkOztBQUVELEFBQUEsWUFBWSxDQUFDO0VBQ1QsYUFBYSxFQUFFLGlCQUFpQixHQUtuQztFQU5ELEFBRUksWUFGUSxDQUVSLEdBQUcsQ0FBQztJQUNBLE1BQU0sRUFBRSxJQUFJO0lBQ1osT0FBTyxFQUFFLEtBQUssR0FDakI7O0FBR0wsQUFBQSxhQUFhLENBQUM7RUFDVixVQUFVLEVBQUUsTUFBTTtFQUNsQixLQUFLLEVBQUUsSUFBSTtFQUNYLE9BQU8sRUFBRSxJQUFJO0VBQ2IsYUFBYSxFQUFFLElBQUksR0FDdEI7O0FBRUQsQUFBQSxLQUFLLENBQUM7RUFDRixLQUFLLEVBQUUsSUFBSTtFQUNYLEtBQUssRUFBRSxHQUFHLEdBWWI7RUFkRCxBQUdJLEtBSEMsQ0FHRCxFQUFFLENBQUM7SUFDQyxhQUFhLEVBQUUsSUFBSTtJQUNuQixVQUFVLEVBQUUsSUFBSSxHQUNuQjtFQU5MLEFBT0ksS0FQQyxDQU9ELEdBQUcsQ0FBQztJQUNBLEtBQUssRUFBRSxJQUFJO0lBQ1gsWUFBWSxFQUFFLEdBQUcsR0FDcEI7RUFWTCxBQVdJLEtBWEMsQ0FXRCxFQUFFLENBQUM7SUFDQyxXQUFXLEVBQUUsR0FBRyxHQUNuQjs7QUFHTCxBQUFBLEtBQUssRUFNTCxBQU5BLEtBTUssQ0FHRCxJQUFJLENBS0EsTUFBTSxDQWRSO0VBQ0YsVUFBVSxFQUFFLGNBQWM7RUFDMUIsYUFBYSxFQUFFLElBQUk7RUFDbkIsY0FBYyxFQUFFLElBQUksR0FDdkI7O0FBRUQsQUFBQSxLQUFLLENBQUM7RUFDRixLQUFLLEVBQUUsS0FBSztFQUNaLEtBQUssRUFBRSxHQUFHLEdBZ0RiO0VBbERELEFBR0ksS0FIQyxDQUdELElBQUksQ0FBQztJQUNELE1BQU0sRUFBRSxpQkFBaUI7SUFDekIsT0FBTyxFQUFFLG1CQUFtQjtJQUM1QixhQUFhLEVBQUUsSUFBSTtJQUNuQixVQUFVLEVBQUUsT0FBTyxHQTBDdEI7SUFqREwsQUFRUSxLQVJILENBR0QsSUFBSSxDQUtBLE1BQU0sQ0FBQztNQUVILFVBQVUsRUFBRSxJQUFJO01BQ2hCLGFBQWEsRUFBRSxjQUFjLEdBQ2hDO0lBWlQsQUFhUSxLQWJILENBR0QsSUFBSSxDQVVBLEdBQUcsQ0FBQztNQUNBLGFBQWEsRUFBRSxJQUFJLEdBMEJ0QjtNQXhDVCxBQWVZLEtBZlAsQ0FHRCxJQUFJLENBVUEsR0FBRyxDQUVDLEtBQUssQ0FBQztRQUNGLE9BQU8sRUFBRSxZQUFZO1FBQ3JCLEtBQUssRUFBRSxLQUFLO1FBQ1osV0FBVyxFQUFFLEdBQUcsR0FDbkI7TUFuQmIsQUFvQlksS0FwQlAsQ0FHRCxJQUFJLENBVUEsR0FBRyxDQU9DLEtBQUssQ0FBQSxBQUFBLElBQUMsQ0FBSyxNQUFNLEFBQVg7TUFwQmxCLEFBcUJZLEtBckJQLENBR0QsSUFBSSxDQVVBLEdBQUcsQ0FRQyxLQUFLLENBQUEsQUFBQSxJQUFDLENBQUssT0FBTyxBQUFaLEVBQWM7UUFDaEIsTUFBTSxFQUFFLGNBQWM7UUFDdEIsYUFBYSxFQUFFLEdBQUc7UUFDbEIsTUFBTSxFQUFFLElBQUk7UUFDWixLQUFLLEVBQUUsR0FBRyxHQUNiO01BMUJiLEFBMkJZLEtBM0JQLENBR0QsSUFBSSxDQVVBLEdBQUcsQ0FjQyxLQUFLLENBQUEsQUFBQSxJQUFDLENBQUssUUFBUSxBQUFiLEVBQWU7UUFDakIsT0FBTyxFQUFFLFNBQVM7UUFDbEIsS0FBSyxFQUFFLElBQUk7UUFDWCxNQUFNLEVBQUUsQ0FBQztRQUNULGdCQUFnQixFQUFFLE9BQU87UUFDekIsYUFBYSxFQUFFLEdBQUc7UUFDbEIsS0FBSyxFQUFFLEtBQUs7UUFDWixhQUFhLEVBQUUsSUFBSSxHQUt0QjtRQXZDYixBQTJCWSxLQTNCUCxDQUdELElBQUksQ0FVQSxHQUFHLENBY0MsS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFLLFFBQVEsQUFBYixDQVFGLE1BQU8sQ0FBQztVQUNKLGdCQUFnQixFQUFFLElBQUk7VUFDdEIsTUFBTSxFQUFFLE9BQU8sR0FDbEI7SUF0Q2pCLEFBMENZLEtBMUNQLENBR0QsSUFBSSxDQXNDQSxNQUFNLENBQ0YsQ0FBQyxDQUFDO01BQ0UsVUFBVSxFQUFFLE1BQU07TUFDbEIsVUFBVSxFQUFFLE1BQU07TUFDbEIsS0FBSyxFQUFFLElBQUk7TUFDWCxTQUFTLEVBQUUsR0FBRyxHQUNqQjs7QUFLYixBQUFBLFlBQVksQ0FBQztFQUNULE1BQU0sRUFBRSxNQUFNO0VBQ2QsVUFBVSxFQUFFLE1BQU07RUFDbEIsS0FBSyxFQUFFLElBQUksR0FLZDtFQVJELEFBSUksWUFKUSxDQUlSLEdBQUcsQ0FBQztJQUNBLEtBQUssRUFBRSxJQUFJO0lBQ1gsWUFBWSxFQUFFLElBQUksR0FDckI7O0FBR0wsQUFBQSxZQUFZLENBQUM7RUFDVCxVQUFVLEVBQUUsTUFBTTtFQUNsQixVQUFVLEVBQUUsY0FBYztFQUMxQixLQUFLLEVBQUUsSUFBSSxHQUNkOztBQUVELE1BQU0sRUFBQyxTQUFTLEVBQUUsS0FBSztFQUNuQixBQUFBLFVBQVUsQ0FBQztJQUNQLEtBQUssRUFBRSxHQUFHLEdBQ2I7RUFDRCxBQUFBLEVBQUUsQ0FBQztJQUNDLFNBQVMsRUFBRSxJQUFJLEdBQ2xCO0VBQ0QsQUFBQSxLQUFLO0VBQ0wsQUFBQSxLQUFLLENBQUM7SUFDRixLQUFLLEVBQUUsSUFBSTtJQUNYLEtBQUssRUFBRSxJQUFJLEdBQ2Q7RUFDRCxBQUFNLEtBQUQsQ0FBQyxFQUFFLENBQUM7SUFDTCxVQUFVLEVBQUUsSUFBSTtJQUNoQixPQUFPLEVBQUUsR0FBRztJQUNaLGFBQWEsRUFBRSxJQUFJLEdBSXRCO0lBUEQsQUFJSSxLQUpDLENBQUMsRUFBRSxDQUlKLEdBQUcsQ0FBQztNQUNBLFVBQVUsRUFBRSxHQUFHLEdBQ2xCO0VBRUwsQUFBYSxZQUFELENBQUMsR0FBRyxDQUFDO0lBQ2IsS0FBSyxFQUFFLElBQUk7SUFDWCxNQUFNLEVBQUUsSUFBSTtJQUNaLE9BQU8sRUFBRSxLQUFLO0lBQ2QsYUFBYSxFQUFFLElBQUksR0FDdEI7O0FBR0wsTUFBTSxFQUFDLFNBQVMsRUFBRSxLQUFLO0VBQ25CLEFBQUEsRUFBRSxDQUFDO0lBQ0MsU0FBUyxFQUFFLElBQUksR0FDbEIifQ== */
