body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5em; }

.container {
  width: 70%;
  margin: 10px auto;
  background: #fff; }

.menu {
  width: 100%;
  border: 1px solid #107677;
  background: linear-gradient(#1ebdbe, #107677);
  border-radius: 6px;
  box-shadow: 0 2px 2px #ccc; }

.menu:before, .menu:after {
  content: '';
  display: block; }

.menu:after {
  clear: both; }

.menu li {
  float: left;
  position: relative; }

.menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0; }

.menu a {
  float: left;
  padding: 12px 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700; }

.menu ul {
  margin: 20px 0 0 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 1;
  background: linear-gradient(#1ebdbe, #107677);
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  transition: all 0.2s ease-in-out; }

.menu ul ul {
  top: 0;
  left: 150px;
  margin: 0 0 0 20px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3); }

.menu ul ul li:first-child > a:after {
  left: -6px;
  top: 50%;
  border-left: 0;
  border-top: 6px solid transparent;
  border-right: 6px solid #1ebdbe;
  border-bottom: 6px solid transparent; }

.menu ul a {
  padding: 10px;
  width: 150px;
  display: block;
  float: none;
  text-transform: none;
  white-space: nowrap; }

.menu ul a:hover {
  background: linear-gradient(#1ebdbe, #107677); }

.menu ul li:first-child > a:after {
  content: '';
  position: absolute;
  left: 40px;
  top: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #1ebdbe; }

p {
  margin: 10px 0;
  line-height: 1.5em; }

h1 {
  font-size: 39px;
  font-weight: bold;
  margin: 20px 0 10px 0;
  line-height: 1.2em; }

h3 {
  font-size: 22px;
  margin: 10px 0; }

h4 {
  font-size: 19px;
  margin: 10px 0; }

strong {
  font-weight: bold; }

.clearfix {
  clear: both; }

.main-header {
  border-bottom: 4px solid #0b7eda;
  margin-top: 20px; }

.main-header img {
  margin: auto;
  display: block; }

.main-heading {
  text-align: center;
  color: #333;
  padding: 10px;
  margin-bottom: 20px; }

.list {
  float: left;
  width: 48%; }

.list li {
  margin-bottom: 20px;
  list-style: none; }

.list img {
  float: left;
  margin-right: 7px; }

.list h4 {
  padding-top: 5px; }

.foot, .form form header {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 10px; }

.form {
  float: right;
  width: 48%; }

.form form {
  border: 4px solid #0b7eda;
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
  background: #f4f4f4; }

.form form header {
  border-top: none;
  border-bottom: 1px solid #ddd; }

.form form div {
  margin-bottom: 20px; }

.form form div label {
  display: inline-block;
  width: 100px;
  font-weight: 700; }

.form form div input[type='text'],
.form form div input[type='email'] {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 25px;
  width: 65%; }

.form form div input[type='submit'] {
  padding: 12px 17px;
  color: #fff;
  border: 0;
  background-color: #0b7eda;
  border-radius: 5px;
  float: right;
  margin-bottom: 10px; }

.form form div input[type='submit']:hover {
  background-color: blue;
  cursor: pointer; }

.form form footer p {
  font-style: italic;
  text-align: center;
  color: #666;
  font-size: 80%; }

.testimonial {
  margin: 40px 0;
  font-style: italic;
  color: #666; }

.testimonial img {
  float: left;
  margin-right: 20px; }

.main-footer {
  text-align: center;
  border-top: 1px solid #ddd;
  color: #aaa; }

@media (max-width: 800px) {
  .container {
    width: 80%; }
  h1 {
    font-size: 33px; }
  .list,
  .form {
    float: none;
    width: 100%; }
  .list li {
    background: #eee;
    padding: 8px;
    border-radius: 10px; }
  .list li img {
    margin-top: 7px; }
  .testimonial img {
    float: none;
    margin: auto;
    display: block;
    margin-bottom: 20px; } }

@media (max-width: 550px) {
  h1 {
    font-size: 22px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xyXG4gICAgZm9udC1mYW1pbHk6ICdQb3BwaW5zJywgc2Fucy1zZXJpZjtcclxuICAgIGZvbnQtc2l6ZTogMTVweDtcclxuICAgIGxpbmUtaGVpZ2h0OiAxLjVlbTtcclxufVxyXG5cclxuLmNvbnRhaW5lciB7XHJcbiAgICB3aWR0aDogNzAlO1xyXG4gICAgbWFyZ2luOiAxMHB4IGF1dG87XHJcbiAgICBiYWNrZ3JvdW5kOiAjZmZmO1xyXG59XHJcblxyXG4ubWVudSB7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGJvcmRlcjogMXB4IHNvbGlkICMxMDc2Nzc7XHJcbiAgICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQoIzFlYmRiZSwgIzEwNzY3Nyk7XHJcbiAgICBib3JkZXItcmFkaXVzOiA2cHg7XHJcbiAgICBib3gtc2hhZG93OiAwIDJweCAycHggI2NjYztcclxuICAgICY6YmVmb3JlLFxyXG4gICAgJjphZnRlciB7XHJcbiAgICAgICAgY29udGVudDogJyc7XHJcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICB9XHJcbiAgICAmOmFmdGVyIHtcclxuICAgICAgICBjbGVhcjogYm90aDtcclxuICAgIH1cclxuICAgIGxpIHtcclxuICAgICAgICBmbG9hdDogbGVmdDtcclxuICAgICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgICAgICAgJjpob3Zlcj51bCB7XHJcbiAgICAgICAgICAgIG9wYWNpdHk6IDE7XHJcbiAgICAgICAgICAgIHZpc2liaWxpdHk6IHZpc2libGU7XHJcbiAgICAgICAgICAgIG1hcmdpbjogMDtcclxuICAgICAgICB9XHJcbiAgICB9XHJcbiAgICBhIHtcclxuICAgICAgICBmbG9hdDogbGVmdDtcclxuICAgICAgICBwYWRkaW5nOiAxMnB4IDMwcHg7XHJcbiAgICAgICAgY29sb3I6ICNmZmY7XHJcbiAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gICAgICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XHJcbiAgICAgICAgZm9udC1zaXplOiAxMnB4O1xyXG4gICAgICAgIGZvbnQtd2VpZ2h0OiA3MDA7XHJcbiAgICB9XHJcbiAgICB1bCB7XHJcbiAgICAgICAgbWFyZ2luOiAyMHB4IDAgMCAwO1xyXG4gICAgICAgIG9wYWNpdHk6IDA7XHJcbiAgICAgICAgdmlzaWJpbGl0eTogaGlkZGVuO1xyXG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgICB0b3A6IDM4cHg7XHJcbiAgICAgICAgbGVmdDogMDtcclxuICAgICAgICB6LWluZGV4OiAxO1xyXG4gICAgICAgIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCgjMWViZGJlLCAjMTA3Njc3KTtcclxuICAgICAgICBib3gtc2hhZG93OiAwIC0xcHggMCByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMyk7XHJcbiAgICAgICAgYm9yZGVyLXJhZGl1czogM3B4O1xyXG4gICAgICAgIHRyYW5zaXRpb246IGFsbCAwLjJzIGVhc2UtaW4tb3V0O1xyXG4gICAgICAgIHVsIHtcclxuICAgICAgICAgICAgdG9wOiAwO1xyXG4gICAgICAgICAgICBsZWZ0OiAxNTBweDtcclxuICAgICAgICAgICAgbWFyZ2luOiAwIDAgMCAyMHB4O1xyXG4gICAgICAgICAgICBib3gtc2hhZG93OiAwIC0xcHggMCByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMyk7XHJcbiAgICAgICAgICAgIGxpIHtcclxuICAgICAgICAgICAgICAgICY6Zmlyc3QtY2hpbGQ+YTphZnRlciB7XHJcbiAgICAgICAgICAgICAgICAgICAgbGVmdDogLTZweDtcclxuICAgICAgICAgICAgICAgICAgICB0b3A6IDUwJTtcclxuICAgICAgICAgICAgICAgICAgICBib3JkZXItbGVmdDogMDtcclxuICAgICAgICAgICAgICAgICAgICBib3JkZXItdG9wOiA2cHggc29saWQgdHJhbnNwYXJlbnQ7XHJcbiAgICAgICAgICAgICAgICAgICAgYm9yZGVyLXJpZ2h0OiA2cHggc29saWQgIzFlYmRiZTtcclxuICAgICAgICAgICAgICAgICAgICBib3JkZXItYm90dG9tOiA2cHggc29saWQgdHJhbnNwYXJlbnQ7XHJcbiAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICAgICAgYSB7XHJcbiAgICAgICAgICAgIHBhZGRpbmc6IDEwcHg7XHJcbiAgICAgICAgICAgIHdpZHRoOiAxNTBweDtcclxuICAgICAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgICAgICAgIGZsb2F0OiBub25lO1xyXG4gICAgICAgICAgICB0ZXh0LXRyYW5zZm9ybTogbm9uZTtcclxuICAgICAgICAgICAgd2hpdGUtc3BhY2U6IG5vd3JhcDtcclxuICAgICAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICAgICAgICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQoIzFlYmRiZSwgIzEwNzY3Nyk7XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICAgICAgbGkge1xyXG4gICAgICAgICAgICAmOmZpcnN0LWNoaWxkPmE6YWZ0ZXIge1xyXG4gICAgICAgICAgICAgICAgY29udGVudDogJyc7XHJcbiAgICAgICAgICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICAgICAgICAgICAgICBsZWZ0OiA0MHB4O1xyXG4gICAgICAgICAgICAgICAgdG9wOiAtNnB4O1xyXG4gICAgICAgICAgICAgICAgYm9yZGVyLWxlZnQ6IDZweCBzb2xpZCB0cmFuc3BhcmVudDtcclxuICAgICAgICAgICAgICAgIGJvcmRlci1yaWdodDogNnB4IHNvbGlkIHRyYW5zcGFyZW50O1xyXG4gICAgICAgICAgICAgICAgYm9yZGVyLWJvdHRvbTogNnB4IHNvbGlkICMxZWJkYmU7XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICB9XHJcbn1cclxuXHJcbnAge1xyXG4gICAgbWFyZ2luOiAxMHB4IDA7XHJcbiAgICBsaW5lLWhlaWdodDogMS41ZW07XHJcbn1cclxuXHJcbmgxIHtcclxuICAgIGZvbnQtc2l6ZTogMzlweDtcclxuICAgIGZvbnQtd2VpZ2h0OiBib2xkO1xyXG4gICAgbWFyZ2luOiAyMHB4IDAgMTBweCAwO1xyXG4gICAgbGluZS1oZWlnaHQ6IDEuMmVtO1xyXG59XHJcblxyXG5oMyB7XHJcbiAgICBmb250LXNpemU6IDIycHg7XHJcbiAgICBtYXJnaW46IDEwcHggMDtcclxufVxyXG5cclxuaDQge1xyXG4gICAgZm9udC1zaXplOiAxOXB4O1xyXG4gICAgbWFyZ2luOiAxMHB4IDA7XHJcbn1cclxuXHJcbnN0cm9uZyB7XHJcbiAgICBmb250LXdlaWdodDogYm9sZDtcclxufVxyXG5cclxuLmNsZWFyZml4IHtcclxuICAgIGNsZWFyOiBib3RoO1xyXG59XHJcblxyXG4ubWFpbi1oZWFkZXIge1xyXG4gICAgYm9yZGVyLWJvdHRvbTogNHB4IHNvbGlkICMwYjdlZGE7XHJcbiAgICBtYXJnaW4tdG9wOiAyMHB4O1xyXG4gICAgaW1nIHtcclxuICAgICAgICBtYXJnaW46IGF1dG87XHJcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICB9XHJcbn1cclxuXHJcbi5tYWluLWhlYWRpbmcge1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgY29sb3I6ICMzMzM7XHJcbiAgICBwYWRkaW5nOiAxMHB4O1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMjBweDtcclxufVxyXG5cclxuLmxpc3Qge1xyXG4gICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICB3aWR0aDogNDglO1xyXG4gICAgbGkge1xyXG4gICAgICAgIG1hcmdpbi1ib3R0b206IDIwcHg7XHJcbiAgICAgICAgbGlzdC1zdHlsZTogbm9uZTtcclxuICAgIH1cclxuICAgIGltZyB7XHJcbiAgICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiA3cHg7XHJcbiAgICB9XHJcbiAgICBoNCB7XHJcbiAgICAgICAgcGFkZGluZy10b3A6IDVweDtcclxuICAgIH1cclxufVxyXG5cclxuLmZvb3Qge1xyXG4gICAgYm9yZGVyLXRvcDogMXB4IHNvbGlkICNkZGQ7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAyMHB4O1xyXG4gICAgcGFkZGluZy1ib3R0b206IDEwcHg7XHJcbn1cclxuXHJcbi5mb3JtIHtcclxuICAgIGZsb2F0OiByaWdodDtcclxuICAgIHdpZHRoOiA0OCU7XHJcbiAgICBmb3JtIHtcclxuICAgICAgICBib3JkZXI6IDRweCBzb2xpZCAjMGI3ZWRhO1xyXG4gICAgICAgIHBhZGRpbmc6IDEwcHggMTVweCAxNXB4IDE1cHg7XHJcbiAgICAgICAgYm9yZGVyLXJhZGl1czogMTBweDtcclxuICAgICAgICBiYWNrZ3JvdW5kOiAjZjRmNGY0O1xyXG4gICAgICAgIGhlYWRlciB7XHJcbiAgICAgICAgICAgIEBleHRlbmQgLmZvb3Q7XHJcbiAgICAgICAgICAgIGJvcmRlci10b3A6IG5vbmU7XHJcbiAgICAgICAgICAgIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjZGRkO1xyXG4gICAgICAgIH1cclxuICAgICAgICBkaXYge1xyXG4gICAgICAgICAgICBtYXJnaW4tYm90dG9tOiAyMHB4O1xyXG4gICAgICAgICAgICBsYWJlbCB7XHJcbiAgICAgICAgICAgICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XHJcbiAgICAgICAgICAgICAgICB3aWR0aDogMTAwcHg7XHJcbiAgICAgICAgICAgICAgICBmb250LXdlaWdodDogNzAwO1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIGlucHV0W3R5cGU9J3RleHQnXSxcclxuICAgICAgICAgICAgaW5wdXRbdHlwZT0nZW1haWwnXSB7XHJcbiAgICAgICAgICAgICAgICBib3JkZXI6IDFweCBzb2xpZCAjY2NjO1xyXG4gICAgICAgICAgICAgICAgYm9yZGVyLXJhZGl1czogNXB4O1xyXG4gICAgICAgICAgICAgICAgaGVpZ2h0OiAyNXB4O1xyXG4gICAgICAgICAgICAgICAgd2lkdGg6IDY1JTtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICBpbnB1dFt0eXBlPSdzdWJtaXQnXSB7XHJcbiAgICAgICAgICAgICAgICBwYWRkaW5nOiAxMnB4IDE3cHg7XHJcbiAgICAgICAgICAgICAgICBjb2xvcjogI2ZmZjtcclxuICAgICAgICAgICAgICAgIGJvcmRlcjogMDtcclxuICAgICAgICAgICAgICAgIGJhY2tncm91bmQtY29sb3I6ICMwYjdlZGE7XHJcbiAgICAgICAgICAgICAgICBib3JkZXItcmFkaXVzOiA1cHg7XHJcbiAgICAgICAgICAgICAgICBmbG9hdDogcmlnaHQ7XHJcbiAgICAgICAgICAgICAgICBtYXJnaW4tYm90dG9tOiAxMHB4O1xyXG4gICAgICAgICAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogYmx1ZTtcclxuICAgICAgICAgICAgICAgICAgICBjdXJzb3I6IHBvaW50ZXI7XHJcbiAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICAgICAgZm9vdGVyIHtcclxuICAgICAgICAgICAgcCB7XHJcbiAgICAgICAgICAgICAgICBmb250LXN0eWxlOiBpdGFsaWM7XHJcbiAgICAgICAgICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICAgICAgICAgICAgICBjb2xvcjogIzY2NjtcclxuICAgICAgICAgICAgICAgIGZvbnQtc2l6ZTogODAlO1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG4gICAgfVxyXG59XHJcblxyXG4udGVzdGltb25pYWwge1xyXG4gICAgbWFyZ2luOiA0MHB4IDA7XHJcbiAgICBmb250LXN0eWxlOiBpdGFsaWM7XHJcbiAgICBjb2xvcjogIzY2NjtcclxuICAgIGltZyB7XHJcbiAgICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiAyMHB4O1xyXG4gICAgfVxyXG59XHJcblxyXG4ubWFpbi1mb290ZXIge1xyXG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgYm9yZGVyLXRvcDogMXB4IHNvbGlkICNkZGQ7XHJcbiAgICBjb2xvcjogI2FhYTtcclxufVxyXG5cclxuQG1lZGlhKG1heC13aWR0aDogODAwcHgpIHtcclxuICAgIC5jb250YWluZXIge1xyXG4gICAgICAgIHdpZHRoOiA4MCU7XHJcbiAgICB9XHJcbiAgICBoMSB7XHJcbiAgICAgICAgZm9udC1zaXplOiAzM3B4O1xyXG4gICAgfVxyXG4gICAgLmxpc3QsXHJcbiAgICAuZm9ybSB7XHJcbiAgICAgICAgZmxvYXQ6IG5vbmU7XHJcbiAgICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICB9XHJcbiAgICAubGlzdCBsaSB7XHJcbiAgICAgICAgYmFja2dyb3VuZDogI2VlZTtcclxuICAgICAgICBwYWRkaW5nOiA4cHg7XHJcbiAgICAgICAgYm9yZGVyLXJhZGl1czogMTBweDtcclxuICAgICAgICBpbWcge1xyXG4gICAgICAgICAgICBtYXJnaW4tdG9wOiA3cHg7XHJcbiAgICAgICAgfVxyXG4gICAgfVxyXG4gICAgLnRlc3RpbW9uaWFsIGltZyB7XHJcbiAgICAgICAgZmxvYXQ6IG5vbmU7XHJcbiAgICAgICAgbWFyZ2luOiBhdXRvO1xyXG4gICAgICAgIGRpc3BsYXk6IGJsb2NrO1xyXG4gICAgICAgIG1hcmdpbi1ib3R0b206IDIwcHg7XHJcbiAgICB9XHJcbn1cclxuXHJcbkBtZWRpYShtYXgtd2lkdGg6IDU1MHB4KSB7XHJcbiAgICBoMSB7XHJcbiAgICAgICAgZm9udC1zaXplOiAyMnB4O1xyXG4gICAgfVxyXG59Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLEFBQUEsSUFBSSxDQUFDO0VBQ0QsV0FBVyxFQUFFLHFCQUFxQjtFQUNsQyxTQUFTLEVBQUUsSUFBSTtFQUNmLFdBQVcsRUFBRSxLQUFLLEdBQ3JCOztBQUVELEFBQUEsVUFBVSxDQUFDO0VBQ1AsS0FBSyxFQUFFLEdBQUc7RUFDVixNQUFNLEVBQUUsU0FBUztFQUNqQixVQUFVLEVBQUUsSUFBSSxHQUNuQjs7QUFFRCxBQUFBLEtBQUssQ0FBQztFQUNGLEtBQUssRUFBRSxJQUFJO0VBQ1gsTUFBTSxFQUFFLGlCQUFpQjtFQUN6QixVQUFVLEVBQUUsaUNBQWlDO0VBQzdDLGFBQWEsRUFBRSxHQUFHO0VBQ2xCLFVBQVUsRUFBRSxjQUFjLEdBOEU3QjtFQW5GRCxBQU1JLEtBTkMsQUFNRCxPQUFRLEVBTlosQUFPSSxLQVBDLEFBT0QsTUFBTyxDQUFDO0lBQ0osT0FBTyxFQUFFLEVBQUU7SUFDWCxPQUFPLEVBQUUsS0FBSyxHQUNqQjtFQVZMLEFBV0ksS0FYQyxBQVdELE1BQU8sQ0FBQztJQUNKLEtBQUssRUFBRSxJQUFJLEdBQ2Q7RUFiTCxBQWNJLEtBZEMsQ0FjRCxFQUFFLENBQUM7SUFDQyxLQUFLLEVBQUUsSUFBSTtJQUNYLFFBQVEsRUFBRSxRQUFRLEdBTXJCO0lBdEJMLEFBaUJnQixLQWpCWCxDQWNELEVBQUUsQUFHRSxNQUFPLEdBQUMsRUFBRSxDQUFDO01BQ1AsT0FBTyxFQUFFLENBQUM7TUFDVixVQUFVLEVBQUUsT0FBTztNQUNuQixNQUFNLEVBQUUsQ0FBQyxHQUNaO0VBckJULEFBdUJJLEtBdkJDLENBdUJELENBQUMsQ0FBQztJQUNFLEtBQUssRUFBRSxJQUFJO0lBQ1gsT0FBTyxFQUFFLFNBQVM7SUFDbEIsS0FBSyxFQUFFLElBQUk7SUFDWCxlQUFlLEVBQUUsSUFBSTtJQUNyQixjQUFjLEVBQUUsU0FBUztJQUN6QixTQUFTLEVBQUUsSUFBSTtJQUNmLFdBQVcsRUFBRSxHQUFHLEdBQ25CO0VBL0JMLEFBZ0NJLEtBaENDLENBZ0NELEVBQUUsQ0FBQztJQUNDLE1BQU0sRUFBRSxVQUFVO0lBQ2xCLE9BQU8sRUFBRSxDQUFDO0lBQ1YsVUFBVSxFQUFFLE1BQU07SUFDbEIsUUFBUSxFQUFFLFFBQVE7SUFDbEIsR0FBRyxFQUFFLElBQUk7SUFDVCxJQUFJLEVBQUUsQ0FBQztJQUNQLE9BQU8sRUFBRSxDQUFDO0lBQ1YsVUFBVSxFQUFFLGlDQUFpQztJQUM3QyxVQUFVLEVBQUUsQ0FBQyxDQUFFLElBQUcsQ0FBQyxDQUFDLENBQUMsd0JBQXdCO0lBQzdDLGFBQWEsRUFBRSxHQUFHO0lBQ2xCLFVBQVUsRUFBRSxvQkFBb0IsR0F1Q25DO0lBbEZMLEFBNENRLEtBNUNILENBZ0NELEVBQUUsQ0FZRSxFQUFFLENBQUM7TUFDQyxHQUFHLEVBQUUsQ0FBQztNQUNOLElBQUksRUFBRSxLQUFLO01BQ1gsTUFBTSxFQUFFLFVBQVU7TUFDbEIsVUFBVSxFQUFFLENBQUMsQ0FBRSxJQUFHLENBQUMsQ0FBQyxDQUFDLHdCQUF3QixHQVdoRDtNQTNEVCxBQWtEOEIsS0FsRHpCLENBZ0NELEVBQUUsQ0FZRSxFQUFFLENBS0UsRUFBRSxBQUNFLFlBQWEsR0FBQyxDQUFDLEFBQUEsTUFBTSxDQUFDO1FBQ2xCLElBQUksRUFBRSxJQUFJO1FBQ1YsR0FBRyxFQUFFLEdBQUc7UUFDUixXQUFXLEVBQUUsQ0FBQztRQUNkLFVBQVUsRUFBRSxxQkFBcUI7UUFDakMsWUFBWSxFQUFFLGlCQUFpQjtRQUMvQixhQUFhLEVBQUUscUJBQXFCLEdBQ3ZDO0lBekRqQixBQTREUSxLQTVESCxDQWdDRCxFQUFFLENBNEJFLENBQUMsQ0FBQztNQUNFLE9BQU8sRUFBRSxJQUFJO01BQ2IsS0FBSyxFQUFFLEtBQUs7TUFDWixPQUFPLEVBQUUsS0FBSztNQUNkLEtBQUssRUFBRSxJQUFJO01BQ1gsY0FBYyxFQUFFLElBQUk7TUFDcEIsV0FBVyxFQUFFLE1BQU0sR0FJdEI7TUF0RVQsQUE0RFEsS0E1REgsQ0FnQ0QsRUFBRSxDQTRCRSxDQUFDLEFBT0csTUFBTyxDQUFDO1FBQ0osVUFBVSxFQUFFLGlDQUFpQyxHQUNoRDtJQXJFYixBQXdFMEIsS0F4RXJCLENBZ0NELEVBQUUsQ0F1Q0UsRUFBRSxBQUNFLFlBQWEsR0FBQyxDQUFDLEFBQUEsTUFBTSxDQUFDO01BQ2xCLE9BQU8sRUFBRSxFQUFFO01BQ1gsUUFBUSxFQUFFLFFBQVE7TUFDbEIsSUFBSSxFQUFFLElBQUk7TUFDVixHQUFHLEVBQUUsSUFBSTtNQUNULFdBQVcsRUFBRSxxQkFBcUI7TUFDbEMsWUFBWSxFQUFFLHFCQUFxQjtNQUNuQyxhQUFhLEVBQUUsaUJBQWlCLEdBQ25DOztBQUtiLEFBQUEsQ0FBQyxDQUFDO0VBQ0UsTUFBTSxFQUFFLE1BQU07RUFDZCxXQUFXLEVBQUUsS0FBSyxHQUNyQjs7QUFFRCxBQUFBLEVBQUUsQ0FBQztFQUNDLFNBQVMsRUFBRSxJQUFJO0VBQ2YsV0FBVyxFQUFFLElBQUk7RUFDakIsTUFBTSxFQUFFLGFBQWE7RUFDckIsV0FBVyxFQUFFLEtBQUssR0FDckI7O0FBRUQsQUFBQSxFQUFFLENBQUM7RUFDQyxTQUFTLEVBQUUsSUFBSTtFQUNmLE1BQU0sRUFBRSxNQUFNLEdBQ2pCOztBQUVELEFBQUEsRUFBRSxDQUFDO0VBQ0MsU0FBUyxFQUFFLElBQUk7RUFDZixNQUFNLEVBQUUsTUFBTSxHQUNqQjs7QUFFRCxBQUFBLE1BQU0sQ0FBQztFQUNILFdBQVcsRUFBRSxJQUFJLEdBQ3BCOztBQUVELEFBQUEsU0FBUyxDQUFDO0VBQ04sS0FBSyxFQUFFLElBQUksR0FDZDs7QUFFRCxBQUFBLFlBQVksQ0FBQztFQUNULGFBQWEsRUFBRSxpQkFBaUI7RUFDaEMsVUFBVSxFQUFFLElBQUksR0FLbkI7RUFQRCxBQUdJLFlBSFEsQ0FHUixHQUFHLENBQUM7SUFDQSxNQUFNLEVBQUUsSUFBSTtJQUNaLE9BQU8sRUFBRSxLQUFLLEdBQ2pCOztBQUdMLEFBQUEsYUFBYSxDQUFDO0VBQ1YsVUFBVSxFQUFFLE1BQU07RUFDbEIsS0FBSyxFQUFFLElBQUk7RUFDWCxPQUFPLEVBQUUsSUFBSTtFQUNiLGFBQWEsRUFBRSxJQUFJLEdBQ3RCOztBQUVELEFBQUEsS0FBSyxDQUFDO0VBQ0YsS0FBSyxFQUFFLElBQUk7RUFDWCxLQUFLLEVBQUUsR0FBRyxHQVliO0VBZEQsQUFHSSxLQUhDLENBR0QsRUFBRSxDQUFDO0lBQ0MsYUFBYSxFQUFFLElBQUk7SUFDbkIsVUFBVSxFQUFFLElBQUksR0FDbkI7RUFOTCxBQU9JLEtBUEMsQ0FPRCxHQUFHLENBQUM7SUFDQSxLQUFLLEVBQUUsSUFBSTtJQUNYLFlBQVksRUFBRSxHQUFHLEdBQ3BCO0VBVkwsQUFXSSxLQVhDLENBV0QsRUFBRSxDQUFDO0lBQ0MsV0FBVyxFQUFFLEdBQUcsR0FDbkI7O0FBR0wsQUFBQSxLQUFLLEVBTUwsQUFOQSxLQU1LLENBR0QsSUFBSSxDQUtBLE1BQU0sQ0FkUjtFQUNGLFVBQVUsRUFBRSxjQUFjO0VBQzFCLGFBQWEsRUFBRSxJQUFJO0VBQ25CLGNBQWMsRUFBRSxJQUFJLEdBQ3ZCOztBQUVELEFBQUEsS0FBSyxDQUFDO0VBQ0YsS0FBSyxFQUFFLEtBQUs7RUFDWixLQUFLLEVBQUUsR0FBRyxHQWdEYjtFQWxERCxBQUdJLEtBSEMsQ0FHRCxJQUFJLENBQUM7SUFDRCxNQUFNLEVBQUUsaUJBQWlCO0lBQ3pCLE9BQU8sRUFBRSxtQkFBbUI7SUFDNUIsYUFBYSxFQUFFLElBQUk7SUFDbkIsVUFBVSxFQUFFLE9BQU8sR0EwQ3RCO0lBakRMLEFBUVEsS0FSSCxDQUdELElBQUksQ0FLQSxNQUFNLENBQUM7TUFFSCxVQUFVLEVBQUUsSUFBSTtNQUNoQixhQUFhLEVBQUUsY0FBYyxHQUNoQztJQVpULEFBYVEsS0FiSCxDQUdELElBQUksQ0FVQSxHQUFHLENBQUM7TUFDQSxhQUFhLEVBQUUsSUFBSSxHQTBCdEI7TUF4Q1QsQUFlWSxLQWZQLENBR0QsSUFBSSxDQVVBLEdBQUcsQ0FFQyxLQUFLLENBQUM7UUFDRixPQUFPLEVBQUUsWUFBWTtRQUNyQixLQUFLLEVBQUUsS0FBSztRQUNaLFdBQVcsRUFBRSxHQUFHLEdBQ25CO01BbkJiLEFBb0JZLEtBcEJQLENBR0QsSUFBSSxDQVVBLEdBQUcsQ0FPQyxLQUFLLENBQUEsQUFBQSxJQUFDLENBQUssTUFBTSxBQUFYO01BcEJsQixBQXFCWSxLQXJCUCxDQUdELElBQUksQ0FVQSxHQUFHLENBUUMsS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFLLE9BQU8sQUFBWixFQUFjO1FBQ2hCLE1BQU0sRUFBRSxjQUFjO1FBQ3RCLGFBQWEsRUFBRSxHQUFHO1FBQ2xCLE1BQU0sRUFBRSxJQUFJO1FBQ1osS0FBSyxFQUFFLEdBQUcsR0FDYjtNQTFCYixBQTJCWSxLQTNCUCxDQUdELElBQUksQ0FVQSxHQUFHLENBY0MsS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFLLFFBQVEsQUFBYixFQUFlO1FBQ2pCLE9BQU8sRUFBRSxTQUFTO1FBQ2xCLEtBQUssRUFBRSxJQUFJO1FBQ1gsTUFBTSxFQUFFLENBQUM7UUFDVCxnQkFBZ0IsRUFBRSxPQUFPO1FBQ3pCLGFBQWEsRUFBRSxHQUFHO1FBQ2xCLEtBQUssRUFBRSxLQUFLO1FBQ1osYUFBYSxFQUFFLElBQUksR0FLdEI7UUF2Q2IsQUEyQlksS0EzQlAsQ0FHRCxJQUFJLENBVUEsR0FBRyxDQWNDLEtBQUssQ0FBQSxBQUFBLElBQUMsQ0FBSyxRQUFRLEFBQWIsQ0FRRixNQUFPLENBQUM7VUFDSixnQkFBZ0IsRUFBRSxJQUFJO1VBQ3RCLE1BQU0sRUFBRSxPQUFPLEdBQ2xCO0lBdENqQixBQTBDWSxLQTFDUCxDQUdELElBQUksQ0FzQ0EsTUFBTSxDQUNGLENBQUMsQ0FBQztNQUNFLFVBQVUsRUFBRSxNQUFNO01BQ2xCLFVBQVUsRUFBRSxNQUFNO01BQ2xCLEtBQUssRUFBRSxJQUFJO01BQ1gsU0FBUyxFQUFFLEdBQUcsR0FDakI7O0FBS2IsQUFBQSxZQUFZLENBQUM7RUFDVCxNQUFNLEVBQUUsTUFBTTtFQUNkLFVBQVUsRUFBRSxNQUFNO0VBQ2xCLEtBQUssRUFBRSxJQUFJLEdBS2Q7RUFSRCxBQUlJLFlBSlEsQ0FJUixHQUFHLENBQUM7SUFDQSxLQUFLLEVBQUUsSUFBSTtJQUNYLFlBQVksRUFBRSxJQUFJLEdBQ3JCOztBQUdMLEFBQUEsWUFBWSxDQUFDO0VBQ1QsVUFBVSxFQUFFLE1BQU07RUFDbEIsVUFBVSxFQUFFLGNBQWM7RUFDMUIsS0FBSyxFQUFFLElBQUksR0FDZDs7QUFFRCxNQUFNLEVBQUMsU0FBUyxFQUFFLEtBQUs7RUFDbkIsQUFBQSxVQUFVLENBQUM7SUFDUCxLQUFLLEVBQUUsR0FBRyxHQUNiO0VBQ0QsQUFBQSxFQUFFLENBQUM7SUFDQyxTQUFTLEVBQUUsSUFBSSxHQUNsQjtFQUNELEFBQUEsS0FBSztFQUNMLEFBQUEsS0FBSyxDQUFDO0lBQ0YsS0FBSyxFQUFFLElBQUk7SUFDWCxLQUFLLEVBQUUsSUFBSSxHQUNkO0VBQ0QsQUFBTSxLQUFELENBQUMsRUFBRSxDQUFDO0lBQ0wsVUFBVSxFQUFFLElBQUk7SUFDaEIsT0FBTyxFQUFFLEdBQUc7SUFDWixhQUFhLEVBQUUsSUFBSSxHQUl0QjtJQVBELEFBSUksS0FKQyxDQUFDLEVBQUUsQ0FJSixHQUFHLENBQUM7TUFDQSxVQUFVLEVBQUUsR0FBRyxHQUNsQjtFQUVMLEFBQWEsWUFBRCxDQUFDLEdBQUcsQ0FBQztJQUNiLEtBQUssRUFBRSxJQUFJO0lBQ1gsTUFBTSxFQUFFLElBQUk7SUFDWixPQUFPLEVBQUUsS0FBSztJQUNkLGFBQWEsRUFBRSxJQUFJLEdBQ3RCOztBQUdMLE1BQU0sRUFBQyxTQUFTLEVBQUUsS0FBSztFQUNuQixBQUFBLEVBQUUsQ0FBQztJQUNDLFNBQVMsRUFBRSxJQUFJLEdBQ2xCIn0= */
