body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
}

.container {
    width: 70%;
    margin: 10px auto;
    background: #fff;
}

p {
    margin: 10px 0;
    line-height: 1.5em;
}

h1 {
    font-size: 39px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    line-height: 1.2em;
}

h3 {
    font-size: 22px;
    margin: 10px 0;
}

h4 {
    font-size: 19px;
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

.clearfix {
    clear: both;
}

.main-header {
    border-bottom: 4px solid #0b7eda;
    img {
        margin: auto;
        display: block;
    }
}

.main-heading {
    text-align: center;
    color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

.list {
    float: left;
    width: 48%;
    li {
        margin-bottom: 20px;
    }
    img {
        float: left;
        margin-right: 7px;
    }
    h4 {
        padding-top: 5px;
    }
}

.foot {
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.form {
    float: right;
    width: 48%;
    form {
        border: 4px solid #0b7eda;
        padding: 10px 15px 15px 15px;
        border-radius: 10px;
        background: #f4f4f4;
        header {
            @extend .foot;
            border-top: none;
            border-bottom: 1px solid #ddd;
        }
        div {
            margin-bottom: 20px;
            label {
                display: inline-block;
                width: 100px;
                font-weight: 700;
            }
            input[type='text'],
            input[type='email'] {
                border: 1px solid #ccc;
                border-radius: 5px;
                height: 25px;
                width: 65%;
            }
            input[type='submit'] {
                padding: 12px 17px;
                color: #fff;
                border: 0;
                background-color: #0b7eda;
                border-radius: 5px;
                float: right;
                margin-bottom: 10px;
                &:hover {
                    background-color: blue;
                    cursor: pointer;
                }
            }
        }
        footer {
            p {
                font-style: italic;
                text-align: center;
                color: #666;
                font-size: 80%;
            }
        }
    }
}