body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
}

.container {
    width: 70%;
    margin: 10px auto;
    background: #fff;
}

.menuTrigger {
    display: none;
}

.menu {
    width: 100%;
    border: 1px solid #107677;
    background: linear-gradient(#1ebdbe, #107677);
    border-radius: 6px;
    box-shadow: 0 2px 2px #ccc;
    &:before,
    &:after {
        content: '';
        display: block;
    }
    &:after {
        clear: both;
    }
    li {
        float: left;
        position: relative;
        &:hover>ul {
            opacity: 1;
            visibility: visible;
            margin: 0;
        }
    }
    a {
        float: left;
        padding: 12px 30px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
    }
    ul {
        margin: 20px 0 0 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 38px;
        left: 0;
        z-index: 1;
        background: linear-gradient(#1ebdbe, #107677);
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
        border-radius: 3px;
        transition: all 0.2s ease-in-out;
        ul {
            top: 0;
            left: 150px;
            margin: 0 0 0 20px;
            box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
            li {
                &:first-child>a:after {
                    left: -6px;
                    top: 50%;
                    border-left: 0;
                    border-top: 6px solid transparent;
                    border-right: 6px solid #1ebdbe;
                    border-bottom: 6px solid transparent;
                }
            }
        }
        a {
            padding: 10px;
            width: 150px;
            display: block;
            float: none;
            text-transform: none;
            white-space: nowrap;
            &:hover {
                background: linear-gradient(#1ebdbe, #107677);
            }
        }
        li {
            &:first-child>a:after {
                content: '';
                position: absolute;
                left: 40px;
                top: -6px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid #1ebdbe;
            }
        }
    }
}

p {
    margin: 10px 0;
    line-height: 1.5em;
}

h1 {
    font-size: 39px;
    font-weight: bold;
    margin: 20px 0 10px 0;
    line-height: 1.2em;
}

h3 {
    font-size: 22px;
    margin: 10px 0;
}

h4 {
    font-size: 19px;
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

.clearfix {
    clear: both;
}

.main-header {
    border-bottom: 4px solid #0b7eda;
    margin-top: 20px;
    img {
        margin: auto;
        display: block;
    }
}

.main-heading {
    text-align: center;
    color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

.list {
    float: left;
    width: 48%;
    li {
        margin-bottom: 20px;
        list-style: none;
    }
    img {
        float: left;
        margin-right: 7px;
    }
    h4 {
        padding-top: 5px;
    }
}

.foot {
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.form {
    float: right;
    width: 48%;
    form {
        border: 4px solid #0b7eda;
        padding: 10px 15px 15px 15px;
        border-radius: 10px;
        background: #f4f4f4;
        header {
            @extend .foot;
            border-top: none;
            border-bottom: 1px solid #ddd;
        }
        div {
            margin-bottom: 20px;
            label {
                display: inline-block;
                width: 100px;
                font-weight: 700;
            }
            input[type='text'],
            input[type='email'] {
                border: 1px solid #ccc;
                border-radius: 5px;
                height: 25px;
                width: 65%;
            }
            input[type='submit'] {
                padding: 12px 17px;
                color: #fff;
                border: 0;
                background-color: #0b7eda;
                border-radius: 5px;
                float: right;
                margin-bottom: 10px;
                &:hover {
                    background-color: blue;
                    cursor: pointer;
                }
            }
        }
        footer {
            p {
                font-style: italic;
                text-align: center;
                color: #666;
                font-size: 80%;
            }
        }
    }
}

.testimonial {
    margin: 40px 0;
    font-style: italic;
    color: #666;
    img {
        float: left;
        margin-right: 20px;
    }
}

.main-footer {
    text-align: center;
    border-top: 1px solid #ddd;
    color: #aaa;
}

@media(max-width: 700px) {
    .container {
        width: 80%;
    }
    .menuTrigger {
        display: block;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        padding: 0 0 0 35px;
        border: 1px solid #107677;
        color: #fff;
        border-radius: 6px;
        background-color: #111;
        background: url(../images/menu.png) no-repeat 10px center, linear-gradient(#1ebdbe, #107677);
    }
    .navBar {
        position: relative;
    }
    
    .menu {
        margin: 0;
        padding: 10px;
        position: absolute;
        top: 40px;
        width: 100%;
        z-index: 1;
        display: none;
        box-shadow: none;
        &:after {
                content: '';
                position: absolute;
                left: 25px;
                top: -8px;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #107677;
            }
        ul{
            position: static;
            visibility: visible;
            opacity: 1;
            margin: 0;
            background: none;
            box-shadow: none;
            ul {
                margin: 0 0 0 20px;
                box-shadow: none;
            }
            li{
                margin-left: 20px;
                box-shadow: none;
            }
        }
        li {
            position: static;
            display: block;
            float: none;
            border: 0;
            margin: 5px;
            box-shadow: none;
        }
        a{
            display: block;
            float: none;
            padding: 0;
            color: #fff;
            &:hover {
                color: #fafafa;
            }
        }
    }
    h1 {
        font-size: 33px;
    }
    .list,
    .form {
        float: none;
        width: 100%;
    }
    .list li {
        background: #eee;
        padding: 8px;
        border-radius: 10px;
        img {
            margin-top: 7px;
        }
    }
    .testimonial img {
        float: none;
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }
}

@media(max-width: 550px) {
    h1 {
        font-size: 22px;
    }
}